@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body{
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-yellow{
    background-color: #f9d783;
    border: 1px solid #f9d783;
    color: #191919;
    text-decoration: none;
    padding: 12px 15px;
    font-weight: 600;
    border-radius: 25px;
    
    i{
        margin-left: 6px;
        font-size: 0.8em;
    }

    &:hover{
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }

}

.btn-transparent{
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 15px;
    font-weight: 600;
    border-radius: 25px;
    
    i{
        margin-left: 6px;
        font-size: 0.8em;
    }

    &:hover{
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }

}

.btn-black{
    background-color: #191919;
    border: 1px solid #191919;
    color: #F0EFE9;
    text-decoration: none;
    padding: 12px 15px;
    font-weight: 600;
    border-radius: 25px;
    
    i{
        margin-left: 6px;
        font-size: 0.8em;
    }

    &:hover{
        background-color: #ffffff;
        border: 1px solid #191919;
        color: #191919;
    }

}

.center-objects{
    display: flex;
    justify-content: center;
}

.section-title{

    padding-top: 60px;
    padding-bottom: 35px;

    @media (min-width: 768px){
        padding-top: 120px;
        padding-bottom: 90px;
    }

    p{
        color: #F94D1C;
        font-size: 18px;
        font-weight: 500;
    }

    h2{
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }

}

header {
    background-color: #F0EFE9; 
    padding: 16px;

   
   .container{
        display: flex;        
        justify-content: space-between;

        // menyikon mobilläge
        .menu-bars {
            border: none;
            font-size: 2rem;
            background-color: transparent;
            @media (min-width: 992px){
                display: none;
        }
        }

        .menu{
            display: none;
            @media (min-width: 992px){
                display: block;
              }
            flex: 0.95;

            .contact-menu{
                display: flex;
                align-items: center;
                justify-content: flex-end;               
                border-bottom: 1px solid #dad9d3;
                padding-bottom: 5px;

                @media (min-width:1200px){                
                    justify-content: space-between; 
                }

              
                    .contact-left-menu{
                        display: none;
                        gap: 1rem;                      
                
                        @media (min-width:1200px){
                            display: flex;
                            justify-content: space-between; 
                        }
                            .content-box{
                                border-right: 1px solid #dad9d3;
                                padding-right: 1rem;
                                font-family: 'Inter', sans-serif;
                                font-size: 15px;
                                font-weight: 300;

                                &.last{
                                    border: none;
                                }

                                i{
                                    margin-right: 0.4em;
                                    font-size: 1.2em;
                                    color:#3d3c3c;
                                }                               
                               
                            }
                    }
                    
                    .socialmedia{
                        a{
                            color:#3d3c3c;
                            font-size: 1.2rem;
                            margin-left: 0.5em;

                            &:hover{
                                color:#f9d783; //färg??               
                            }
                        }
                    }
           
            }
        
            .main-menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 2px;              //eller margin??
                
                    nav{
                        a{
                            display: inline-block;
                            color: #191919;
                            text-decoration: none;
                            margin-right: 1.8rem;
                            position: relative;

                            &.active{
                                font-weight: 500;
                            }

                            &.active::after,
                            &:hover::after{
                                content: '';
                                position: absolute;                                
                                height: 2px;
                                width: 15px;
                                background-color: #191919;
                                left: 50%;
                                bottom: -3px;
                                transform: translate((calc(50% - 15px)));
                            }

                        
                        }
                    }
                    .btn-login{
                        padding-top: 8px;
                        padding-bottom: 8px;
                        margin-top: 5px;
                    }
                }
        }        
       

        // @media (min-width: 1600px){
        // max-width: 1520px;
        // }

        // @media (min-width: 2500px){
        // max-width: 2048px;
        // }

    
   }
    
}

.showcase{
    background-color: #F0EFE9; 

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content{
            padding-top: 30px;
            padding-bottom: 20px;
            text-align: center;

            
            @media (min-width: 1200px){
                text-align: left;
            }

            h1{
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;
                
               


                @media (min-width: 768px){
                    font-size: 70px;
                }

                @media (min-width: 1400px){
                    font-size: 86px;
                }

            }

            p{
                font-size: 18px;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px){
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                }

            }

            a{
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px){
                    display: inline-block;                    
                    margin-right: 10px;

                }

            }
        }

        img{
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px){
                display: block;
            }

        }
    }

}

.project{

    .container{
        
        .section-title{
            text-align: center;
        }

        .project-articles{
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px){
                grid-template-columns: 1fr 1fr;
            }


            a{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;

                img{
                    width: 100%;
                    height: auto;

                }

                h3{
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #dad9d3;

                }

                .readmore{
                    padding: 10px;
                    display: block;
                    text-align: right;
                    font-size: 14px;
                    font-weight: 500;                
                    
                    
                    i{
                        margin-left: 5px;
                    }



                }

                &:hover .readmore{
                    text-decoration: underline;
                    text-decoration-color: #f9d783;
                    color: #f9d783;
                    font-weight: 800;
                    
                }

                
            }

            
        }

        .center-objects{
            padding: 35px;
        }

       

    }
}

.showcase-contact{
    background-color:#F0EFE9;
    
    .container{            
        text-align: center;
        padding: 100px;

        .orientation{
            display: flex;
            justify-content: center;
            gap: 20px;

            .home{
                font-size: 16px;
                font-weight: 300;
            }

            .contact{
                font-size: 16px;
                font-weight: 500;
            }


        }

        h1{
            font-family: 'DM Sans';
            font-size: 29px;
            font-weight: 700;

            @media (min-width: 768px){
                font-size: 56px;
            }

        }
    }
}
