@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 12px 15px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 6px;
  font-size: 0.8em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 15px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 6px;
  font-size: 0.8em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: none;
  padding: 12px 15px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 6px;
  font-size: 0.8em;
}
.btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}

.btn-round {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: none;
  padding: 10px 17px;
  border-radius: 25px;
}
.btn-round i {
  font-size: 0.8em;
  text-align: center;
}
.btn-round:hover {
  background-color: #F0EFE9;
  border: 1px solid #191919;
  color: #191919;
}

.center-objects {
  display: flex;
  justify-content: center;
}

.section-title {
  padding-top: 60px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 500;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container .menu-bars {
  border: none;
  font-size: 2rem;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 0.95;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .contact-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #dad9d3;
  padding-bottom: 5px;
}
@media (min-width: 1200px) {
  header .container .menu .contact-menu {
    justify-content: space-between;
  }
}
header .container .menu .contact-menu .contact-left-menu {
  display: none;
  gap: 1rem;
}
@media (min-width: 1200px) {
  header .container .menu .contact-menu .contact-left-menu {
    display: flex;
    justify-content: space-between;
  }
}
header .container .menu .contact-menu .contact-left-menu .content-box {
  border-right: 1px solid #dad9d3;
  padding-right: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .contact-menu .contact-left-menu .content-box.last {
  border: none;
}
header .container .menu .contact-menu .contact-left-menu .content-box i {
  margin-right: 0.4em;
  font-size: 1.2em;
  color: #3d3c3c;
}
header .container .menu .contact-menu .socialmedia a {
  color: #3d3c3c;
  font-size: 1.2rem;
  margin-left: 0.5em;
}
header .container .menu .contact-menu .socialmedia a:hover {
  color: #c6a756;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 1.8rem;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.partners .container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
}
@media (min-width: 768px) {
  .partners .container {
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  .partners .container {
    padding-top: 100px;
  }
}

.features .container {
  border: 1px solid #dad9d3;
  margin-top: 50px;
}
@media (min-width: 1400px) {
  .features .container {
    max-width: 1520px;
    margin-top: 100px;
  }
}
@media (min-width: 1200px) {
  .features .container {
    display: grid;
    grid-template-columns: 45% auto;
  }
}
.features .container .section-title {
  padding: 60px;
}
.features .container .section-title p {
  text-align: center;
}
.features .container .section-title h2 {
  text-align: center;
  margin-bottom: 60px;
}
.features .container .section-title .btn-yellow {
  text-align: center;
  display: block;
}
@media (min-width: 1200px) {
  .features .container .section-title {
    padding: 80px 150px 150px 80px;
  }
  .features .container .section-title h2 {
    margin-bottom: 40px;
    font-size: 35px;
    text-align: left;
  }
}
@media (min-width: 1200px) and (min-width: 1400px) {
  .features .container .section-title h2 {
    font-size: 45px;
  }
}
.features .container .content-boxes {
  display: none;
}
@media (min-width: 1200px) {
  .features .container .content-boxes {
    padding: 80px 150px 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
  .features .container .content-boxes h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
}

.about .container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .about .container {
    margin-top: 120px;
  }
}
.about .container .content-left {
  position: relative;
}
@media (min-width: 1200px) {
  .about .container .content-left {
    padding: 50px;
  }
}
.about .container .content-left img {
  display: none;
}
@media (min-width: 1200px) {
  .about .container .content-left img {
    display: block;
  }
}
.about .container .content-left .blue-box {
  display: none;
  background-color: #BEEBFF;
  padding: 30px 30px 50px 20px;
  width: 370px;
  height: auto;
  position: relative;
  bottom: 230px;
  right: 55px;
  box-shadow: -15px 1px 18px #e9eaeb;
}
@media (min-width: 1200px) {
  .about .container .content-left .blue-box {
    display: block;
  }
}
.about .container .content-left .blue-box #brown {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.about .container .content-left .blue-box #founder {
  display: inline-block;
  color: #F94D1C;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.about .container .content-left .blue-box p {
  font-weight: 500;
}
.about .container .content-right {
  text-align: center;
}
@media (min-width: 1400px) {
  .about .container .content-right {
    padding-left: 180px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .about .container .content-right {
    padding-left: 100px;
    text-align: left;
  }
}
.about .container .content-right #about {
  font-size: 18px;
  color: #F94D1C;
  font-weight: 500;
}
.about .container .content-right h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 35px;
  font-weight: 800;
}
@media (min-width: 1400px) {
  .about .container .content-right h2 {
    font-size: 45px;
  }
}
.about .container .content-right p {
  margin-top: 50px;
}
@media (min-width: 1400px) {
  .about .container .content-right p {
    margin-bottom: 30px;
  }
}
.about .container .content-right .btn-black {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
@media (min-width: 1400px) {
  .about .container .content-right .btn-black {
    margin-right: 50px;
    margin-top: 70px;
  }
}
.about .container .content-right .btn-intro {
  display: inline-block;
  margin-right: 3px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 25px;
}
@media (min-width: 1400px) {
  .about .container .content-right .btn-intro {
    margin-right: 15px;
    margin-top: 70px;
  }
}
.about .container .content-right .btn-intro i {
  font-size: 0.8em;
  text-align: center;
}
.about .container .content-right .btn-intro:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}
.about .container .content-right .intro {
  display: inline-block;
}

.services {
  background-color: #F0EFE9;
  padding-bottom: 150px;
}
.services .container .section-title {
  text-align: center;
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  .services .container .section-title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .services .container .section-title h2 {
    padding-right: 60%;
  }
}
@media (min-width: 1200px) {
  .services .container .link-boxes {
    display: flex;
    justify-content: space-between;
  }
}
.services .container .link-boxes .box {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 300px;
  height: auto;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .services .container .link-boxes .box {
    height: 330px;
    margin: 0;
  }
}
.services .container .link-boxes .box a {
  text-decoration: none;
  color: #191919;
}
.services .container .link-boxes .box a .advice {
  padding: 40px;
}
.services .container .link-boxes .box a .advice h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}
.services .container .link-boxes .box a .advice .btn-round {
  display: block;
  margin-left: auto;
  margin-top: 10px;
}
.services .container .link-boxes .box a .startup {
  padding: 40px;
}
.services .container .link-boxes .box a .startup h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}
.services .container .link-boxes .box a .startup .btn-round {
  display: block;
  margin-left: auto;
  margin-top: 10px;
}
.services .container .link-boxes .box a .financial {
  padding: 40px;
}
.services .container .link-boxes .box a .financial h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}
.services .container .link-boxes .box a .financial .btn-round {
  display: block;
  margin-left: auto;
  margin-top: 10px;
}
.services .container .link-boxes .box a .risk {
  padding: 40px;
}
.services .container .link-boxes .box a .risk h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}
.services .container .link-boxes .box a .risk .btn-round {
  display: block;
  margin-left: auto;
  margin-top: 10px;
}
.services .container .link-boxes .box:hover {
  background-color: #f9d783;
}
.services .container .link-boxes .box:hover .btn-round {
  background-color: #F0EFE9;
  border: 1px solid #191919;
  color: #191919;
}
.services .container .btn-transparent {
  margin-top: 50px;
  text-align: center;
}

.why-us {
  position: relative;
  z-index: 0;
}
@media (min-width: 1200px) {
  .why-us .background-box {
    background-color: #F0EFE9;
    height: 40%;
    width: 55dvw;
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: -1;
  }
}
@media (min-width: 1200px) {
  .why-us .container {
    display: flex;
  }
}
.why-us .container .left-side {
  flex: 1;
}
.why-us .container .left-side .section-title {
  text-align: center;
}
@media (min-width: 1200px) {
  .why-us .container .left-side .section-title {
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .why-us .container .left-side .section-title h2 {
    padding-right: 40%;
  }
}
@media (min-width: 1200px) {
  .why-us .container .left-side .section-title h2 {
    padding-right: 20%;
  }
}
.why-us .container .left-side .headlines {
  margin-bottom: 20px;
}
.why-us .container .left-side .headlines .headline {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .why-us .container .left-side .headlines .headline {
    justify-content: left;
  }
}
.why-us .container .left-side .headlines .headline .icon {
  margin-right: 7px;
}
@media (min-width: 415px) {
  .why-us .container .left-side .headlines .headline .icon {
    margin-right: 25px;
    margin-top: 3px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 10px 18px;
  }
}
.why-us .container .left-side .headlines .headline .icon i {
  margin-top: 8px;
}
.why-us .container .left-side .headlines .headline .text h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.why-us .container .right-side {
  margin: auto;
  flex: 1;
}
.why-us .container .right-side img {
  display: block;
  width: 90%;
  height: auto;
  margin: auto;
}
@media (min-width: 1400px) {
  .why-us .container .right-side img {
    margin: 0;
    width: 100%;
  }
}

.project .container .section-title {
  text-align: center;
}
.project .container .project-articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project .container .project-articles {
    grid-template-columns: 1fr 1fr;
  }
}
.project .container .project-articles a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project .container .project-articles a img {
  width: 100%;
  height: auto;
}
.project .container .project-articles a h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dad9d3;
}
.project .container .project-articles a .readmore {
  padding: 10px;
  display: block;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
}
.project .container .project-articles a .readmore i {
  margin-left: 5px;
}
.project .container .project-articles a:hover .readmore {
  text-decoration: underline;
  text-decoration-color: #f9d783;
  color: #f9d783;
  font-weight: 800;
}
.project .container .project-articles a:hover img {
  opacity: 50%;
}
.project .container .center-objects {
  padding: 35px;
}

.team {
  background-color: #edcf86;
}
.team .container .section-top {
  text-align: center;
}
@media (min-width: 1000px) {
  .team .container .section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
.team .container .section-top .section-title {
  padding-bottom: 20px;
}
@media (min-width: 1000px) {
  .team .container .section-top .section-title {
    padding-bottom: 120px;
  }
}
.team .container .section-top .btn-yellow {
  border: 1px solid #191919;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
  display: inline-block;
}
.team .container .team-members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .team .container .team-members {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.team .container .team-members .member img {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
}
.team .container .dots {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
}
.team .container .dots i {
  margin: 6px;
}

.testimonial {
  background-color: #edcf86;
  padding-bottom: 120px;
}
.testimonial .container {
  background-color: #ffffff;
  padding-bottom: 120px;
}
@media (min-width: 1400px) {
  .testimonial .container {
    max-width: 1520px;
  }
}
.testimonial .container .section-title {
  text-align: center;
}
.testimonial .container .users {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
@media (min-width: 763px) {
  .testimonial .container .users {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .testimonial .container .users {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.testimonial .container .users .box .stars {
  color: #F94D1C;
  margin-bottom: 30px;
}
.testimonial .container .users .box .user {
  display: flex;
  align-items: center;
}
.testimonial .container .users .box .user img {
  margin-right: 20px;
}
.testimonial .container .users .box .user .name h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.testimonial .container .users .box .user .name p {
  color: #F94D1C;
}
.testimonial .container .btn-black {
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.article-news .container .section-top {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .article-news .container .section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
.article-news .container .section-top .section-title {
  padding-bottom: 30px;
}
.article-news .container .section-top .btn-transparent {
  margin-top: 120px;
  padding-left: 30px;
  padding-right: 30px;
}
.article-news .container .articles {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .article-news .container .articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
}
.article-news .container .articles .article img {
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%;
  height: auto;
}
.article-news .container .articles .article h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.article-news .container .articles .article p {
  margin-bottom: 30px;
}
.article-news .container .dots {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
}
.article-news .container .dots i {
  margin: 6px;
}

.news-letter {
  background-color: #F0EFE9;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 0;
}
.news-letter .backgroundlines {
  position: absolute;
  right: 0;
  bottom: 25px;
  z-index: -1;
}
@media (min-width: 1540px) {
  .news-letter .backgroundlines {
    bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .news-letter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.news-letter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.news-letter .container form {
  text-align: center;
}
.news-letter .container form input {
  margin-right: 20px;
  border: 1px solid #F0EFE9;
  border-radius: 25px;
  padding: 12px 30px;
  color: rgba(26, 26, 26, 0.1);
  outline: none;
}
.news-letter .container form .btn-yellow {
  padding: 12px 30px;
  margin-top: 10px;
}
@media (min-width: 483px) {
  .news-letter .container form .btn-yellow {
    margin-top: 0px;
  }
}

footer {
  background-color: #0E1021;
}
footer .container {
  padding-top: 110px;
}
footer .container .footer-top {
  text-align: center;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  footer .container .footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    text-align: left;
  }
}
footer .container .footer-top .logo {
  flex: 0.45;
}
footer .container .footer-top .logo img {
  margin-bottom: 30px;
}
footer .container .footer-top .logo p {
  color: rgba(255, 255, 255, 0.7);
}
footer .container .footer-top .footer-headline h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #ffffff;
}
@media (min-width: 992px) {
  footer .container .footer-top .footer-headline h3 {
    margin-bottom: 45px;
  }
}
footer .container .footer-top .footer-headline a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}
footer .container .footer-top .footer-headline a:hover {
  color: #ffffff;
}
footer .container .footer-top .footer-headline a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.7);
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 45px));
}
@media (min-width: 992px) {
  footer .container .footer-top .footer-headline a:hover::after {
    content: "";
    left: 20%;
  }
}
footer .container .footer-bottom {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgb(80, 80, 80);
}
@media (min-width: 768px) {
  footer .container .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
footer .container .footer-bottom .copyright {
  color: rgba(255, 255, 255, 0.7);
}
footer .container .footer-bottom .socialmedia a {
  color: #ffffff;
  font-size: 1.2rem;
  margin-left: 0.5em;
}
footer .container .footer-bottom .socialmedia a:hover {
  color: #f9d783;
}

.showcase-contact {
  background-color: #F0EFE9;
}
.showcase-contact .container {
  text-align: center;
  padding: 100px;
}
.showcase-contact .container .orientation {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.showcase-contact .container .orientation .home {
  font-size: 16px;
  font-weight: 300;
}
.showcase-contact .container .orientation .contact {
  font-size: 16px;
  font-weight: 500;
}
.showcase-contact .container h1 {
  font-family: "DM Sans";
  font-size: 29px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .showcase-contact .container h1 {
    font-size: 56px;
  }
}

.contact .container {
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.contact .container .boxes {
  border: 1px solid #dad9d3;
  width: 420px;
  height: 200px;
  padding: 40px 60px;
  display: flex;
}
.contact .container .boxes img {
  margin-bottom: 60px;
  margin-right: 30px;
  flex: 0.5;
}

.location {
  padding-bottom: 30%;
  position: relative;
}
.location iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}